<a href="https://colab.research.google.com/github/NadiaHolmlund/M6_Group_Assignments/blob/main/Group_Assignment_2/Group_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group Assignment 2 - Big Data Work

## Task:
- Load the dataset into the platform and perform basic exploratory data analysis (EDA) to understand the structure of the data. This includes checking the dimensions of the dataset, examining the data types, and identifying missing values.

- Filter the data to include only the relevant observations. This can be done by removing missing values or filtering based on certain criteria or conditions that are specific to your dataset.

- Aggregate the data to obtain summary statistics or metrics. You should run different aggregations using functions such as filter(), select(), groupby(), etc. For example, you can calculate the mean, median, or mode of certain variables to gain a better understanding of the data.

- Join the data with another dataset (if available) to perform more complex analysis. This can be done by merging two tables using a common key.

- Visualize the data using either Apache Spark’s built-in plotting library or any other visualization tools of your choice. You can plot a histogram, scatter plot, line plot, or any other types of charts that are relevant to your dataset. This will help you to identify trends and patterns in the data and gain insights into the underlying relationships between different variables.

In [ ]:
!pip install polars --q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 49.3 MB/s eta 0:00:00

In [ ]:
import polars as pl
import pandas as pd

# importing the data

## Importing the Master dataset

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Korsholm22/MLOps/main/archive/Master.csv", encoding="ISO-8859-1") #importing data with pandas

data.to_csv('baseball_master.csv', index=False) #saving it locally

baseball_master = pl.read_csv("/content/baseball_master.csv") #reading the file with polar and showing top 5 rows
baseball_master.head(5)

shape: (5, 33)
┌──────────┬───────────┬───────────┬─────────────┬───┬──────────┬──────────┬───────────┬───────────┐
│ lahmanID ┆ playerID  ┆ managerID ┆ hofID       ┆ … ┆ lahman45 ┆ retroID  ┆ holtzID   ┆ bbrefID   │
│ ---      ┆ ---       ┆ ---       ┆ ---         ┆   ┆ ID       ┆ ---      ┆ ---       ┆ ---       │
│ i64      ┆ str       ┆ str       ┆ str         ┆   ┆ ---      ┆ str      ┆ str       ┆ str       │
│          ┆           ┆           ┆             ┆   ┆ str      ┆          ┆           ┆           │
╞══════════╪═══════════╪═══════════╪═════════════╪═══╪══════════╪══════════╪═══════════╪═══════════╡
│ 1        ┆ aaronha01 ┆ null      ┆ aaronha01h  ┆ … ┆ aaronha0 ┆ aaroh101 ┆ aaronha01 ┆ aaronha01 │
│          ┆           ┆           ┆             ┆   ┆ 1        ┆          ┆           ┆           │
│ 2        ┆ aaronto01 ┆ null      ┆ null        ┆ … ┆ aaronto0 ┆ aarot101 ┆ aaronto01 ┆ aaronto01 │
│          ┆           ┆           ┆             ┆   ┆ 1        ┆          ┆           ┆           │
│ 3        ┆ aasedo01  ┆ null      ┆ null        ┆ … ┆ aasedo01 ┆ aased001 ┆ aasedo01  ┆ aasedo01  │
│ 4        ┆ abadan01  ┆ null      ┆ null        ┆ … ┆ abadan01 ┆ abada001 ┆ abadan01  ┆ abadan01  │
│ 5        ┆ abadijo01 ┆ null      ┆ null        ┆ … ┆ abadijo0 ┆ abadj101 ┆ abadijo01 ┆ abadijo01 │
│          ┆           ┆           ┆             ┆   ┆ 1        ┆          ┆           ┆           │
└──────────┴───────────┴───────────┴─────────────┴───┴──────────┴──────────┴───────────┴───────────┘

In [ ]:
rowCount_master = baseball_master.shape[0]
print("Total number of rows in the dataset:", rowCount_master)

Total number of rows in the dataset: 18125

In [ ]:
baseball_master.columns

['lahmanID',
 'playerID',
 'managerID',
 'hofID',
 'birthYear',
 'birthMonth',
 'birthDay',
 'birthCountry',
 'birthState',
 'birthCity',
 'deathYear',
 'deathMonth',
 'deathDay',
 'deathCountry',
 'deathState',
 'deathCity',
 'nameFirst',
 'nameLast',
 'nameNote',
 'nameGiven',
 'nameNick',
 'weight',
 'height',
 'bats',
 'throws',
 'debut',
 'finalGame',
 'college',
 'lahman40ID',
 'lahman45ID',
 'retroID',
 'holtzID',
 'bbrefID']

## Importing the batting dataset

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/Korsholm22/MLOps/main/archive/Batting.csv", encoding="ISO-8859-1") #importing data with pandas

data.to_csv('baseball_batting.csv', index=False) #saving it locally

baseball_batting = pl.read_csv("/content/baseball_batting.csv") #reading the file with polar and showing top 5 rows
baseball_batting.head(5)

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ f64 ┆ f64 ┆ f64  ┆ f64   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 11.0  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1.0 ┆ 0.0 ┆ 0.0  ┆ 45.0  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 2.0   │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 5.0   │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [ ]:
rowCount_batting = baseball_batting.shape[0]
print("Total number of rows in the dataset:", rowCount_batting)

Total number of rows in the dataset: 96600

In [ ]:
baseball_batting.columns

['playerID',
 'yearID',
 'stint',
 'teamID',
 'lgID',
 'G',
 'G_batting',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'IBB',
 'HBP',
 'SH',
 'SF',
 'GIDP',
 'G_old']

## Merging the 2 datasets

In [ ]:
baseball = baseball_master.join(baseball_batting, on = 'playerID')

In [ ]:
print(baseball.head(5))

shape: (5, 56)
┌──────────┬───────────┬───────────┬───────┬───┬─────┬─────┬──────┬───────┐
│ lahmanID ┆ playerID  ┆ managerID ┆ hofID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---      ┆ ---       ┆ ---       ┆ ---   ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ i64      ┆ str       ┆ str       ┆ str   ┆   ┆ f64 ┆ f64 ┆ f64  ┆ f64   │
╞══════════╪═══════════╪═══════════╪═══════╪═══╪═════╪═════╪══════╪═══════╡
│ 17157    ┆ aardsda01 ┆ null      ┆ null  ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 11.0  │
│ 17157    ┆ aardsda01 ┆ null      ┆ null  ┆ … ┆ 1.0 ┆ 0.0 ┆ 0.0  ┆ 45.0  │
│ 17157    ┆ aardsda01 ┆ null      ┆ null  ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 2.0   │
│ 17157    ┆ aardsda01 ┆ null      ┆ null  ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ 5.0   │
│ 17157    ┆ aardsda01 ┆ null      ┆ null  ┆ … ┆ 0.0 ┆ 0.0 ┆ 0.0  ┆ null  │
└──────────┴───────────┴───────────┴───────┴───┴─────┴─────┴──────┴───────┘

In [ ]:
rowCount = baseball.shape[0]
print("Total number of rows in the dataset:", rowCount)

Total number of rows in the dataset: 96609

In [ ]:
baseball.columns

['lahmanID',
 'playerID',
 'managerID',
 'hofID',
 'birthYear',
 'birthMonth',
 'birthDay',
 'birthCountry',
 'birthState',
 'birthCity',
 'deathYear',
 'deathMonth',
 'deathDay',
 'deathCountry',
 'deathState',
 'deathCity',
 'nameFirst',
 'nameLast',
 'nameNote',
 'nameGiven',
 'nameNick',
 'weight',
 'height',
 'bats',
 'throws',
 'debut',
 'finalGame',
 'college',
 'lahman40ID',
 'lahman45ID',
 'retroID',
 'holtzID',
 'bbrefID',
 'yearID',
 'stint',
 'teamID',
 'lgID',
 'G',
 'G_batting',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'RBI',
 'SB',
 'CS',
 'BB',
 'SO',
 'IBB',
 'HBP',
 'SH',
 'SF',
 'GIDP',
 'G_old']

# EDA

In [ ]:
baseball.select(
    pl.col(['nameFirst', 'nameLast','HR']).sort_by('HR', descending=True)    
)

shape: (96609, 3)
┌───────────┬──────────┬──────┐
│ nameFirst ┆ nameLast ┆ HR   │
│ ---       ┆ ---      ┆ ---  │
│ str       ┆ str      ┆ f64  │
╞═══════════╪══════════╪══════╡
│ Barry     ┆ Bonds    ┆ 73.0 │
│ Mark      ┆ McGwire  ┆ 70.0 │
│ Sammy     ┆ Sosa     ┆ 66.0 │
│ Mark      ┆ McGwire  ┆ 65.0 │
│ …         ┆ …        ┆ …    │
│ Don       ┆ Aase     ┆ null │
│ Don       ┆ Aase     ┆ null │
│ Don       ┆ Aase     ┆ null │
│ David     ┆ Aardsma  ┆ null │
└───────────┴──────────┴──────┘

In [ ]:
baseball.filter(
    (pl.col('college') == 'UCLA') &
    (pl.col('HR') >= 30) &
    (pl.col('yearID') >= 2000)

)

shape: (4, 56)
┌──────────┬───────────┬───────────┬────────────┬───┬─────┬──────┬──────┬───────┐
│ lahmanID ┆ playerID  ┆ managerID ┆ hofID      ┆ … ┆ SH  ┆ SF   ┆ GIDP ┆ G_old │
│ ---      ┆ ---       ┆ ---       ┆ ---        ┆   ┆ --- ┆ ---  ┆ ---  ┆ ---   │
│ i64      ┆ str       ┆ str       ┆ str        ┆   ┆ f64 ┆ f64  ┆ f64  ┆ f64   │
╞══════════╪═══════════╪═══════════╪════════════╪═══╪═════╪══════╪══════╪═══════╡
│ 7285     ┆ karroer01 ┆ null      ┆ karroer01h ┆ … ┆ 0.0 ┆ 12.0 ┆ 18.0 ┆ 155.0 │
│ 16719    ┆ utleych01 ┆ null      ┆ null       ┆ … ┆ 0.0 ┆ 4.0  ┆ 9.0  ┆ 160.0 │
│ 16719    ┆ utleych01 ┆ null      ┆ null       ┆ … ┆ 1.0 ┆ 8.0  ┆ 9.0  ┆ 159.0 │
│ 16719    ┆ utleych01 ┆ null      ┆ null       ┆ … ┆ 0.0 ┆ 4.0  ┆ 5.0  ┆ null  │
└──────────┴───────────┴───────────┴────────────┴───┴─────┴──────┴──────┴───────┘

In [ ]:
baseball.filter((pl.col('college') == 'UCLA') & (pl.col('yearID') > 2000)).select(['nameGiven', 'weight', 'height', 'bats', 'debut', 'yearID'])

shape: (95, 6)
┌─────────────────┬────────┬────────┬──────┬───────────┬────────┐
│ nameGiven       ┆ weight ┆ height ┆ bats ┆ debut     ┆ yearID │
│ ---             ┆ ---    ┆ ---    ┆ ---  ┆ ---       ┆ ---    │
│ str             ┆ f64    ┆ f64    ┆ str  ┆ str       ┆ i64    │
╞═════════════════╪════════╪════════╪══════╪═══════════╪════════╡
│ Hector          ┆ 235.0  ┆ 74.0   ┆ L    ┆ 4/30/2010 ┆ 2010   │
│ Hector          ┆ 235.0  ┆ 74.0   ┆ L    ┆ 4/30/2010 ┆ 2012   │
│ Garrett Bernard ┆ 215.0  ┆ 75.0   ┆ R    ┆ 8/3/2003  ┆ 2003   │
│ Garrett Bernard ┆ 215.0  ┆ 75.0   ┆ R    ┆ 8/3/2003  ┆ 2004   │
│ …               ┆ …      ┆ …      ┆ …    ┆ …         ┆ …      │
│ Todd Edward     ┆ 190.0  ┆ 73.0   ┆ R    ┆ 8/18/1989 ┆ 2002   │
│ Todd Edward     ┆ 190.0  ┆ 73.0   ┆ R    ┆ 8/18/1989 ┆ 2003   │
│ Todd Edward     ┆ 190.0  ┆ 73.0   ┆ R    ┆ 8/18/1989 ┆ 2003   │
│ Todd Edward     ┆ 190.0  ┆ 73.0   ┆ R    ┆ 8/18/1989 ┆ 2004   │
└─────────────────┴────────┴────────┴──────┴───────────┴────────┘

In [ ]:
HRbyTeam = baseball.groupby('teamID').agg(pl.col('HR').sum()).sort(by = 'HR', reverse = True)
HRbyTeam.head(10)

<ipython-input-78-de111a89e197>:1: DeprecationWarning: `reverse` is deprecated as an argument to `sort`; use `descending` instead.
  HRbyTeam = baseball.groupby('teamID').agg(pl.col('HR').sum()).sort(by = 'HR', reverse = True)

shape: (10, 2)
┌────────┬─────────┐
│ teamID ┆ HR      │
│ ---    ┆ ---     │
│ str    ┆ f64     │
╞════════╪═════════╡
│ NYA    ┆ 14715.0 │
│ CHN    ┆ 13030.0 │
│ DET    ┆ 12678.0 │
│ BOS    ┆ 12421.0 │
│ …      ┆ …       │
│ CLE    ┆ 11879.0 │
│ SLN    ┆ 10790.0 │
│ PIT    ┆ 10421.0 │
│ CHA    ┆ 10353.0 │
└────────┴─────────┘